.PageBackground {
	position: fixed;
	margin: auto;
	top : 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/*background: black;*/
	/*opacity: 0.6;*/
}

.Background {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background: yellow;*/
	/*opacity: 0.6;*/
}

.VideoContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background: black;*/
	/*opacity: 0.8;*/
	/*z-index: 90;*/
	/*background: blue;*/
}

.Overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 20;

  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";   /* IE 8 */
  filter: alpha(opacity=40);   /* IE 5-7 */
  -moz-opacity: 0.4;	/* Netscape */
  -khtml-opacity: 0.4;	/* Safari 1.x */
}

.Video {
	position: absolute;
	/*height: 100%;*/
	width: 100%;
	z-index: 10;
	display: block;
}

.Image {
	position: absolute;
	width: 100%;
	z-index: 10;
	display: block;
}
