@font-face {
	font-family: HeiGui;
	src: url("./造字工房映力黑规体.otf");
}

@font-face {
	font-family: YueYuan;
	src: url("./造字工房悦圆.otf");
}

.PageTitle {
	position: fixed;
	margin: auto;
	top: 3px;
	left: 0;
	right: 0;
	width: 100%;
	height: 63px;
	color: white;
	background: black;
	opacity: 0.75;
	z-index: 100;
}

.PageLogo {
	position: absolute;
	font-family: Tahoma;
	width: 200px;
	height: 100%;
	/*background: red;*/
}

.LogoHeader1 {
	position: absolute;
	display: block;
	top: 10px;
	left: 10px;
	width: 80px;
	font-family: HeiGui;
	font-size: 2em;
	/*background: purple;*/
}

.LogoHeader2 {
	position: absolute;
	width: 150px;
	top: 30px;
	left: 80px;
	color: white;
	font-family: YueYuan;
	font-weight: bold;
	font-size: 13px;
	/*background: yellow;*/
}

.TitleInfo {
	position: absolute;
	font-size: 20px;
	top: 18px;
	right: 10px;
	/*background: blue;*/
}

.TitleInfo a {
	position: relative;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	text-decoration: none;
	color: white;
	font-family: YueYuan;
	/*font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif !important;*/
	font-size: 0.7em;
	/*background: blue;*/
}

.TitleInfo a:after {
  content: '';
  display: block;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: transparent;
  /*border-bottom: 2px solid #3366FF;*/
  transition: 0.1s;
}

.TitleInfo .how:after {
	border-bottom: 2px solid white;/*#ff000f;*/
}

.TitleInfo .sell:after {
	border-bottom: 2px solid #009bff;
}

.TitleInfo .buy:after {
	border-bottom: 2px solid #40b173;
}

.TitleInfo .contact:after {
	border-bottom: 2px solid white;/*#fb5327;*/
}

.TitleInfo .chat:after {
	border-bottom: 2px solid white;/*#ffff33;*/
}

.TitleInfo a:hover:after {
  width: 100%;
}