@font-face {
	font-family: HeiGui;
	src: url("./造字工房映力黑规体.otf");
	/*src: url("./锐字锐线怒放黑简.ttf") format('truetype');*/
}

@font-face {
	font-family: YueYuan;

	src: url("./造字工房悦圆.otf");
/*	src: url("123/converted-files/NOTDEF.tff");
	src: url('./123/converted-files/NOTDEF.eot?#iefix') format('embedded-opentype'),
				url('./123/converted-files/NOTDEF.woff2') format('woff2'),
       url('./123/converted-files/NOTDEF.woff') format('woff'),
       url('./123/converted-files/NOTDEF.ttf')  format('truetype'),
       url('./123/converted-files/NOTDEF.svg#svgFontName') format('svg');*/
}

@font-face {
    font-family: mf_lihei_noncommercial_reguRg;
    src: url('./webfontkit-20160323-134614/_-_.eot.eot');
    src: url('./webfontkit-20160323-134614/_-_.eot.eot?#iefix') format('embedded-opentype'),
         url('./webfontkit-20160323-134614/_-_.eot.woff2') format('woff2'),
         url('./webfontkit-20160323-134614/_-_.eot.woff') format('woff'),
         url('./webfontkit-20160323-134614/_-_.eot.ttf') format('truetype'),
         url('./webfontkit-20160323-134614/_-_.eot.svg#mf_lihei_noncommercial_reguRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.PageTitle {
	position: fixed;
	margin: auto;
	top: 3px;
	left: 0;
	right: 0;
	width: 100%;
	height: 63px;
	/*height: 230px;*/
	color: white;
	background: black;
	z-index: 100;
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: subpixel-antialiased; /*solve font rendering problem for browsers*/
	-moz-osx-font-smoothing: grayscale; /*solve font rendering problem for browsers*/

	opacity: 0.75;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";*/   /* IE 8 */
	/*filter: alpha(opacity=75);*/   /* IE 5-7 */
	-moz-opacity: 0.75;	/* Netscape */
	-khtml-opacity: 0.75;	/* Safari 1.x */
}

.PageLogo {
	position: absolute;
	width: 200px;
	height: 100%;
	/*background: red;*/
}

.LogoHeader1 {
	position: absolute;
	display: block;
	top: 10px;
	left: 10px;
	width: 80px;
	font-family: HeiGui;
	font-size: 32px;
	/*background: purple;*/
}

.LogoHeader2 {
	position: absolute;
	width: 150px;
	top: 30px;
	left: 80px;
	color: white;
	font-family: YueYuan;
	font-weight: bold;
	font-size: 13px;
	/*background: yellow;*/
}

.TitleInfo {
	position: absolute;
	font-size: 15px;
	top: 10px;
	right: 10px;
	/*background: red;*/
}

.TitleInfo ul {
	list-style: none;
}

.TitleInfo li {
	float: left;
}

.TitleInfo a {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	text-decoration: none;
	color: white;
	font-family: YueYuan;
	/*font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif !important;*/
	/*background: purple;*/
}

.TitleInfo .list {
	/*position: absolute;*/
	display: inline-block;
}

.TitleInfo a:after {
  content: '';
  display: block;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: transparent;
  /*border-bottom: 2px solid #3366FF;*/
  transition: 0.1s;
}

.TitleInfo .how:after {
	border-bottom: 2px solid white;/*#ff000f;*/
}

.TitleInfo .how {
	position: relative;
	display: inline-block;
}

.TitleInfo .how-dropdown {
	display: none;
	/*overflow: auto;*/
	position: absolute;
	background: black;
	top: 52px;
	min-width: 120px;
	text-align: center;
	border-radius: 3px;
	z-index: 200;
	/*box-shadow: ;*/
}

.TitleInfo .how-dropdown a {
	color: white;
	padding: 10px 10px 10px 10px;
	/*text-decoration: none;*/
	display: block;
}

.how-dropdown a:hover {
	background: #40b173;
}


.TitleInfo .sell:after {
	border-bottom: 2px solid #009bff;
}

.TitleInfo .buy:after {
	border-bottom: 2px solid #40b173;
}

.TitleInfo .contact:after {
	border-bottom: 2px solid white;/*#fb5327;*/
}

.TitleInfo .chat:after {
	border-bottom: 2px solid white;/*#ffff33;*/
}

.TitleInfo a:hover:after {
  width: 100%;
}